.App{
  margin-left: 1vw;
}

/* APP FORM */
.app-form{
  /* background-color: grey; */
  display: flex;
  flex-direction: column;
  width: 30vw;
}
.app-form > * {
  margin-top: 1vh;
}
.app-form-input {
  height: 3vh;
}
.app-form-antd-form-item > div >div > label {
  /* background-color: aqua; */
  width: 100%
}

.form-multi-steps {
  margin-bottom: 20px;
}
.form-field-error{
  font-size: 10px;
  color: red;
}





